.form_container {
    width: 500px;
    height: 700px;
    margin: 20px auto;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 8px;
}

.form_title {
    text-align: center;
}

.form_control {
    padding-left: 40px;
    margin: 30px 0px;
}

.form_control label {
    display: block;
}

.form_container input {
    width: 415px;
    height: 55px;
    font-size: 1.2rem;
    border-radius: 8px;
}

.btn_submit {
    background-color: rgb(247, 183, 63);
    border: none;

}

.btn_submit:hover {
    background-color: orange;
    color: white;
}

.signUp_login_toggle,
.error_text {
    text-align: center;
}

.error_text {
    color: rgb(251, 25, 25);
}